body{
    font-family: 'Montserrat', sans-serif;
    background-color: #000050;
}
.title{
    text-align: center;
    color: white;
    padding: 1em 0;
    font-size: 3em;
}

.wrapping-content {
    width: 100%;
    max-width: 1250px;
    display: block;
    margin: 0 auto;
    z-index: 99;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 30px;
    overflow: hidden;
}
main{}
.filters{
    padding: 0 1%;
    margin: 1% 0;
}
.filters button{
    transition: all 0.3s ease;
    border: none;
    background: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5% 1%;
    border-radius: 6px;
    margin-right: 0.5%;
    cursor: pointer;
}
.filters button:hover{
    background: #000090;
    color: white;
}
.filters h2{
    color: white;
}
.events{
    /* width: 33.33%; */
    /* float: left; */
}
.events section{
    width: 31.33%;
    float: left;
    margin: 1% 1%;
    box-sizing: border-box;
    padding-top: 14rem;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.events section article {
    color: black;
    padding: 2rem;
    background: #ffffff;
    border-top: 8px solid #ff0080;
}
.events section h2{
    background-color: white;
    font-size: 1em;
    width: fit-content;
    position: absolute;
    top: 7%;
    left: 8%;
    padding: 2% 3.8%;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.5px;
    color: #ff0080;
    /* overflow: hidden; */
}
.events section article h1{}
.events section article p{}